<div class="navbar" *ngIf="!(logged$ | async) as logged">
    <div class="brand"><span>MyStore</span>
    <ul class="links-list" >
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/Shop">Shop</a></li> 
    </ul>
    </div>
    <div class="bars"></div>
    

    <nav  class="nav" *ngIf="logged ">
      
        <ul class="links-list" >
            <li><a routerLink="/Account">Account</a></li>
            <li><a routerLink="/Cart">Cart</a></li> 
            <li><button class="btn"  (click)="logoutWithRedirect()" >Log out</button></li> 
        </ul>
    </nav>
    <button class="btn " routerLink="signin" *ngIf="logged">{{logged}}</button>
</div>
