<div class="holder container">
    <h4>{{Posts.id}}</h4>
    <h5>{{Posts.title}}</h5>
    <p>{{Posts.body}}</p>
<!-- <span *ngFor="let ingrediant of Posts.ingrediants">{{ingrediant}} </span> -->
<!-- <p>{{Posts.howToUse}}</p> -->
    <p>{{Posts.likes}}</p>


<button class="btn btn-primary mr-3" (click)="like(Posts)">like</button>
<button class="btn btn-primary mr-3" (click)="dislike(Posts)">dislike</button>


<!-- part 3  bypassing data from child to parent -->
    <button class="btn btn-primary" (click)="hide(Posts)"> hide</button>

    <button class="btn btn-primary" (click)="marked.emit(Posts)"> favorite</button>
</div>
