
<div class="ctn">
    
    <!-- <form class='form' #form="ngForm" (ngSubmit)="loginWithRedirect()">
        <h1>Sign in</h1>
        <div class="form-group">
            <label for="username">Username:</label>
        <input type="text" name="username" required placeholder=" Enter Your Username" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
        <input type="password" name="password" required placeholder="Enter Your Password" [(ngModel)]="password">
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn">Create</button>
    </form> -->
    <button class="btn btn-primary"  (click)="loginWithRedirect()">log in</button>
</div>